@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  color: #212121;
  background-color: #fcfbf7;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}